.about-me {
    background-color: $colour-shade;
    padding-bottom: 100px;
    .about-me__container {
        margin: 0 auto;
        display: flex;
    }
}

.about-me__image-container {
    flex: 1 1 50%;
    padding: 193px 15px 0 0;
}

.about-me__text-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    padding: 0 0 0 15px;
    &__header {
        text-align: left;
    }
    &__text {
        margin: 0;
    }
    &__why-me__header {
        color: $colour-acc;
        margin: 30px 0;
    }
    &__why-me__text {
        margin:0;
    }
    &__download-cv__link {
        text-decoration: none;
        color: $colour-header;
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-top: 35px;
    }
}