.about-me {
    background-color: $colour-shade;
    .about-me__container {
        margin: 0 auto;
        display: flex;
    }
}

.about-me__image-container {
    flex: 1 1 50%;
}

.about-me__text-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    &__header {
        text-align: left;
    }
    &__why-me__header {
        color: $colour-acc;
    }
    &__download-cv__link {
        text-decoration: none;
        color: $colour-header;
    }
}