.about-me {
    background-color: $colour-shade;
    padding-bottom: 100px;
    .about-me__container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    &__content {
        margin: 0 auto;
        display: flex;
    }
}

.about-me__image-container {
    flex: 1 1 50%;
    padding: 0 15px 0 0;
}

.about-me__text-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    padding: 0 0 0 15px;
    &__header {
        text-align: left;
        width: 50%;
        align-self: flex-end;
        padding-left: 15px;
        margin: 0;
    }
    &__text {
        margin: 0;
    }
    &__why-me__header {
        color: $colour-acc;
        margin: 30px 0;
    }
    &__why-me__text {
        margin:0;
    }
    &__download-cv__link {
        text-decoration: none;
        color: $colour-header;
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-top: 35px;
    }
}

// ========================
// RESPONSIVE
// ========================
// **Portrait tablet and small desktops**
@media (max-width: 940px) {
    .about-me__content {
        flex-wrap: wrap;
    }
    .about-me__image-container {
    flex: 0 1 50%;
    // padding: 0 15px 0 0;
    }

    .about-me__text-container {
        flex: 1 1 100%;
        padding: 30px 0 0 0;
        &__header {
            width: 100%;
            text-align: center;
            padding-left: 0;
        }
    }
}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
    
}

// **Landscape phones and down**
@media (max-width: 480px) {
    .about-me__image-container {
        flex: 1 1 100%;
        padding: 0;
    }
}