.blog-post-container {
    display: block;
    margin: 0 auto;
}

.blog-post__text-container {
    background-color: $colour-shade;
}

.blog-post {
    margin-right: 30px;
    width: calc(34% - (60px / 3));
    display: flex;
    flex-direction: column;
    img {
        margin: 0 auto;
        width: 100%;
    }
    &:hover {
        box-shadow: 0px 0px 30px 0px rgba(144, 144, 144, 0.5);
    }
    &:hover .blog-post__date {
        background-color: $colour-acc;
    }
    &:hover .blog-post__header {
        color: $colour-acc;
    }
    &:hover .blog-post__text-container {
        border-top: 3px solid $colour-acc;
    }
    &:hover .blog-post__read-more {
        color: $colour-acc;
    }
    &__text-container {
        position: relative;
        display: flex;
        flex-direction: column;
        border-top: 3px solid transparent;
        padding: 0 30px;
    }
    &__date {
        width: 70px;
        height: 70px;
        background-color: $colour-header;
        padding: 12px;
        text-align: center;
        position: absolute;
        top: -35px;
        right: 30px;
        z-index: 5;
        &__text {
            font-size: 1.8rem;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
            color: $colour-shade;
        }
    }
    &__header {
        text-transform: capitalize;
        margin: 32px 0 25px 0;
    }
    &__summary {
        margin: 0 0 45px 0;
    }
    &__read-more {
        text-decoration: none;
        text-transform: uppercase;
        align-self: flex-end;
        margin-bottom: 30px;
    }
}
// **Flickity**
.flickity-prev-next-button {
    background-color: $colour-acc;
    display: none;
    &:hover {
        background-color: $colour-acc;
        opacity: 0.8;
    }
    .arrow {
        fill: $colour-white;
        &:hover {
            fill: $colour-white;
        }
    }
}
.dot.is-selected {
    color: $colour-acc;
}

// ========================
// RESPONSIVE
// ========================
// **Portrait tablet and small desktops**
@media (max-width: 940px) {
    .blog-post-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .blog-post {
        margin-right: 30px;
        width: calc(43% - (60px / 3));
    }
    .flickity-prev-next-button {
        display: block;
    }
}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
    .blog-post {
        margin-right: 30px;
        width: calc(53% - (60px / 3));
    }
}

// **Landscape phone to portrait tablet**
@media (max-width: 550px) {
    .blog-post {
        margin-right: 0;
        width: 100%;
    }
}