.blog-post-container {
    display: flex;
}

.blog-post__text-container {
    background-color: $colour-shade;
}

.blog-post {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        box-shadow: 0px 0px 30px 0px rgba(144, 144, 144, 0.5);
    }
    &:hover .blog-post__date {
        background-color: $colour-acc;
    }
    &:hover .blog-post__header {
        color: $colour-acc;
    }
    &:hover .blog-post__text-container {
        border-top: 3px solid $colour-acc;
    }
    &:hover .blog-post__read-more {
        color: $colour-acc;
    }
    &__text-container {
        position: relative;
        display: flex;
        flex-direction: column;
        border-top: 3px solid transparent;
        padding: 0 30px;
    }
    &__date {
        width: 70px;
        height: 70px;
        background-color: $colour-header;
        padding: 12px;
        text-align: center;
        position: absolute;
        top: -35px;
        right: 30px;
        z-index: 5;
        &__text {
            font-size: 1.8rem;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
            color: $colour-shade;
        }
    }
    &__header {
        text-transform: capitalize;
        margin: 32px 0 25px 0;
    }
    &__summary {
        margin: 0 0 45px 0;
    }
    &__read-more {
        text-decoration: none;
        text-transform: uppercase;
        align-self: flex-end;
        margin-bottom: 30px;
    }
}

// ========================
// RESPONSIVE
// ========================
// **Portrait tablet and small desktops**
@media (max-width: 940px) {

}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
    
}

// **Landscape phones and down**
@media (max-width: 480px) {

}