// form {
// //   width: 320px;
// //   float: left;
// //   margin: 20px;
//   > div,
//   > .contact-form__name-email-container div {
//     position: relative;
//     overflow: hidden;
//   }
//   input, textarea {
//     // width: 100%;
//     border: 2px solid gray; 
//     background: none;
//     position: relative;
//     top: 0;
//     left: 0;
//     z-index: 1;
//     padding: 8px 12px;
//     outline: 0;
//     &:valid {
//       // Hides the label
//       background: white; 
//     }
//     &:focus {
//       border-color: $colour-acc;
//     }
//     &:focus + label {
//       background: $colour-acc;
//       color: white;
//       font-size: 70%;
//       padding: 1px 6px;
//       z-index: 2;
//       text-transform: uppercase;
//     }
//   }
//   label {
//     transition: // not padding
//       background 0.2s,
//       color 0.2s,
//       top 0.2s,
//       bottom 0.2s,
//       right 0.2s,
//       left 0.2s;
//     position: absolute;
//     color: #999;
//     padding: 7px 6px;
//     z-index: 5;
//   }

//   input {
//       width: 200px;
//   }

//   textarea {
//     display: block;
//     resize: vertical;
//     width: 430px;
//   }
// }

// form.go-bottom {
//   input, textarea {
//     padding: 12px 12px 12px 12px; 
//   }
//   label {
//     top: 0;
//     bottom: 0;
//     left: 0;
//   }
//   input:focus, textarea:focus {
//     padding: 4px 6px 20px 6px; 
//   }
//   input:focus + label, textarea:focus + label {
//     top: 100%;
//     margin-top: -16px;
//   }
// }

// .name-label,
// .email-label {
//     width: 200px;
// }

// .message-label {
//     width: 430px;
// }
.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contact {
    background-color: $colour-shade;
    margin-top: 100px;
    padding-bottom: 100px;
    &__header {
        margin: 0;
        padding: 100px 0 50px 0;
    }
}

.contact-container {
    display: flex;
}

.contact-form {
    flex: 0 1 50%;
    flex-direction: column;
    align-items: center;
    padding: 50px 70px;
    background-color: $colour-acc;
    margin-right: 15px;
    text-align: center;
    &__name-email-container {
        display: flex;
    }
    &__name {
        width: 200px;
        height: 50px;
        margin-right: 30px;
        padding-left: 15px;
        background-color: $colour-shade;
        border: none;
    }
    &__email {
        width: 200px;
        height: 50px;
        padding-left: 15px;
        background-color: $colour-shade;
        border: none;
    }
    &__textarea {
        margin-top: 30px;
        width: 430px;
        height: 250px;
        padding: 15px;
        background-color: $colour-shade;
        border: none;
    }
    &__submit {
        height: 50px;
        width: 200px;
        border: 1px solid $colour-shade;
        background-color: transparent;
        font-size: 1.6rem;
        font-weight: 300;
        color: $colour-shade;
        margin-top: 50px;
    }
}

.contact-info {
    flex: 1 1 50%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__header {
        margin: 0;
        color: $colour-acc;
    }
    &__info-container {
        display: flex;
        flex-direction: column;
    }
    &__phone,
    &__location,
    &__email {
        display: flex;
        align-items: center;
        margin-top: 30px;
        &__text,
        &__number {
            margin: 0 0 0 30px;
        }
    }
    &__phone {
        margin-top: 0;
    }
    &__phone__icon,
    &__location__icon,
    &__email__icon {
        height: 70px;
        width: 70px;
        border: 2px solid white;
        background-color: $colour-acc;
        display: flex;
        justify-content: center;
        align-items: center;
        &__i {
            color: #fefefe;
            font-size: 3.5rem;
        }
    }
}

.social-footer__nav {
    margin-top: 50px;
}

.social-footer__item {
    margin-right: 35px;
    &__link {

    }
    &__icon {
        font-size: 2.4rem;
    }
}