.footer {
    background-color: rgb(3, 15, 19);
    padding: 10px 0;
    &__content-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__signature,
    &__copyright {
        color: #b2b2b2;
    }
    &__logo {
        margin: 0 140px;
    }
    &__signature i {
        color: $colour-acc;
    }
}

// ========================
// RESPONSIVE
// ========================
// **Portrait tablet and small desktops**
@media (max-width: 940px) {
    .footer__content-container {
        justify-content: space-between;
    }
    .footer__logo {
        margin: 0;
    }
}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
    .footer__content-container {
        flex-direction: column;
    }
}

// **Landscape phones and down**
@media (max-width: 480px) {
    
}