html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $font-prim;
    color: $colour-prim;
}

.wrapper-prim {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid yellow;
}

.wrapper-sec {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid red;
}

img {
    display: block;
    max-width: 100%;
}

.button {
        text-decoration: none;
        color: $colour-white;
        border: 2px solid $colour-white;
        padding: 10px 30px;
        // transition: all 0.2s;
        // &:hover {
        //     background-color: $colour-acc;
        // }
    }

// Button Background Sweep To Right
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $colour-acc;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

// Button hover radial out
// .hvr-radial-out {
//     display: inline-block;
//     vertical-align: middle;
//     -webkit-transform: perspective(1px) translateZ(0);
//     transform: perspective(1px) translateZ(0);
//     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
//     position: relative;
//     overflow: hidden;
//     background: transparent;
//     -webkit-transition-property: color;
//     transition-property: color;
//     -webkit-transition-duration: 0.3s;
//     transition-duration: 0.3s;
// }
// .hvr-radial-out:before {
//     content: "";
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: $colour-acc;
//     border-radius: 100%;
//     -webkit-transform: scale(0);
//     transform: scale(0);
//     -webkit-transition-property: transform;
//     transition-property: transform;
//     -webkit-transition-duration: 0.3s;
//     transition-duration: 0.3s;
//     -webkit-transition-timing-function: ease-out;
//     transition-timing-function: ease-out;
// }
// .hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
//     color: white;
// }
// .hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
//     -webkit-transform: scale(2);
//     transform: scale(2);
// }

.social-media__nav {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    &__list {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-left: 40px;
        &:first-child {
            margin-left: 0;
        }
        &__link {
            text-decoration: none;
            &__icon {
                color: $colour-header;
                transition: all 0.3s;
                &:hover {
                    color: $colour-acc;
                }
            }
        }
    }
}