html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $font-prim;
    color: $colour-prim;
}

.wrapper-prim {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid yellow;
}

.wrapper-sec {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid red;
}

img {
    display: block;
    max-width: 100%;
}

.button {
        text-decoration: none;
        color: $colour-white;
        border: 2px solid $colour-white;
        padding: 10px 30px;
    }

.social-media__nav {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    &__list {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-left: 40px;
        &:first-child {
            margin-left: 0;
        }
        &__link {
            text-decoration: none;
            &__icon {
                color: $colour-header;
                &:hover {
                    color: $colour-acc;
                }
            }
        }
    }
}