html {
    font-size: 62.5%;
}

body {
    font-family: $font-prim;
    color: $colour-prim;
}

.wrapper-prim {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper-sec {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

.button {
        text-decoration: none;
        color: $colour-white;
        border: 2px solid $colour-white;
        padding: 10px 30px;
        transition: all 0.2s;
        &:hover {
            background-color: $colour-acc;
            color: $colour-white;

        }
    }

.hero-text__portfolio-button:hover {
    background-color: $colour-acc;
    color: $colour-white;
    border: 2px solid $colour-acc;
}

.section-header {
    margin: 0;
}

.social-media__nav {
    margin-top: 70px;
    display: flex;
    justify-content: flex-start;
    &__list {
        padding-left: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-left: 30px;
        &:first-child {
            margin-left: 0;
        }
        &__link {
            text-decoration: none;
            &__icon {
                color: $colour-white;
                transition: all 0.3s;
                &:hover {
                    color: $colour-acc;
                }
            }
        }
    }
}

.social-media__nav__item__link__icon.social__footer {
    color: $colour-social;
    &:hover {
        color: $colour-acc;
    }
}

// **Wow Animation**
.wow { 
    visibility: hidden; 
}

// ========================
// RESPONSIVE
// ========================
// **Portrait tablet and small desktops**
@media (max-width: 940px) {
    .wrapper-sec {
        padding: 0 15px;
    }
}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
    
}

// **Landscape phones and down**
@media (max-width: 480px) {
    .section-header,
    .about-me__text-container__header,
    .contact__header {
        padding: 50px 0 25px 0 !important;
    }
}

// BEN'S BAGELS!!!
.hide {
    display: none;
}
.show {
    display: block;
}
@keyframes falling-bagels {
            0% {
                top: -500px;
            }
            10%, 30%, 50%, 70%, 90% {
                margin-left: 10px;
            }
            20%, 40%, 60%, 80% {
                margin-left: 100px;
            }
            100% {
                top: 100%;
            }
        }
.bagels {
        position: absolute;
        animation-name: falling-bagels;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        top: -500px;
        animation-iteration-count: 1;
        z-index: 3000;
}
.bagels1{
    left: 11%;
    animation-delay: 3s;
}
.bagels2 {
    left: 25%;
    animation-delay: 5s;
    animation-duration: 10s;
}
.bagels3 {
    left: 33%;
    animation-delay: 1.5s;
}
.bagels4{
    left: 79%;
    animation-delay: 4s;
}
.bagels5 {
    left: 62%;
    animation-delay: .8s;
}
// BEN'S BAGELS