// header {
//     position: relative;
// }

// ==Header Top STARTS==
.header-top-container {
    background-color: white;
    position: fixed;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    height: 9.4rem;
    width: 9.1rem;
    border: 2px solid $colour-prim;
}

.header-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: auto;
    &__list {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-left: 50px;
        &:first-child {
            margin-left: 0;
        }
        &__link {
            text-decoration: none;
            color: $colour-header;
        }
    }
}

// Nav Link Underline From Center
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    // overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: -20%;
    background: $colour-acc;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

// ==Header Top ENDS==
// =======================
// ==Header Bottom STARTS==

.hero {
    // background: [background-color] [background-image] [background-position] [background-repeat] [background-attachment];
    background: $colour-prim url('../../assets/hero/good5.jpg') top no-repeat fixed;
    background-size: cover;
}
.header-bottom {
    height: 100vh;
}

.hero-text {
    margin-top: 250px;
    color: $colour-white;
    &__intro {
        strong {
            color: $colour-acc;
        }

    }
    &__header-main {

    }
}