// @import "path/to/hamburgers";
// header {
//     position: relative;
// }

// ==Header Top STARTS==
header {
    position: relative;
}

.header-top-container {
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 1000;
}

.header-top.nav-scroll {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0;
}

.logo {
    width: 9.1rem;
}

.header-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: auto;
    &__list {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-left: 50px;
        &:first-child {
            margin-left: 0;
        }
        &__link {
            text-decoration: none;
            color: $colour-header;
        }
    }
}

// Nav Link Underline From Center
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    // overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: -20%;
    background: $colour-acc;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

// ==Header Top ENDS==
// =======================
// ==Header Bottom STARTS==

.hero {
    // background: [background-color] [background-image] [background-position] [background-repeat] [background-attachment];
    // background: $colour-prim url('../../assets/hero/good5.jpg') top no-repeat fixed;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/hero/good5.JPG') top no-repeat fixed;
    background-size: cover;
}
.header-bottom {
    height: 100vh;
}

.hero-text {
    padding-top: 250px;
    color: $colour-white;
    &__intro {
        font-weight: 400;
        text-align: left;
    }
    &__header-main {

    }
}

.letsgo {
    color: $colour-acc;
    font-size: 3.5rem;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    cursor: pointer;
}

@keyframes letsgoUpDown {
    0% {
        transform: translate(-50%, 15px);
    }
    50% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, 15px);
    }
}

.letsgo {
    animation: letsgoUpDown 1s ease infinite;
}

// **Type animation**
#typed {
    font-size: 3rem;
}

.my-name {
    color: $colour-acc;
    letter-spacing: 1px;
}

// **Menu**
.menu-icon,
.close-icon {
    display: none;
    color: $colour-acc;
    position: fixed;
    right: 30px;
    top: 30px;
    font-size: 3.5rem;
}

.menu-slide {
    right: -200px;
}

.hide {
    display: none;
}

// **Hamburger Menu**
// .hamburger {
//   padding: 15px 15px;
//   display: inline-block;
//   cursor: pointer;
//   transition-property: opacity, filter;
//   transition-duration: 0.15s;
//   transition-timing-function: linear;
//   font: inherit;
//   color: inherit;
//   text-transform: none;
//   background-color: transparent;
//   border: 0;
//   margin: 0;
//   overflow: visible; }
//   .hamburger:hover {
//     opacity: 0.7; }

// .hamburger-box {
//   width: 40px;
//   height: 24px;
//   display: inline-block;
//   position: relative; }

// .hamburger-inner {
//   display: block;
//   top: 50%;
//   margin-top: -2px; }
//   .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
//     width: 40px;
//     height: 4px;
//     background-color: #000;
//     border-radius: 4px;
//     position: absolute;
//     transition-property: transform;
//     transition-duration: 0.15s;
//     transition-timing-function: ease; }
//   .hamburger-inner::before, .hamburger-inner::after {
//     content: "";
//     display: block; }
//   .hamburger-inner::before {
//     top: -10px; }
//   .hamburger-inner::after {
// bottom: -10px; }

// .hamburger--spin .hamburger-inner {
//   transition-duration: 0.22s;
//   transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
//   .hamburger--spin .hamburger-inner::before {
//     transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
//   .hamburger--spin .hamburger-inner::after {
//     transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

// .hamburger--spin.is-active .hamburger-inner {
//   transform: rotate(225deg);
//   transition-delay: 0.12s;
//   transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
//   .hamburger--spin.is-active .hamburger-inner::before {
//     top: 0;
//     opacity: 0;
//     transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
//   .hamburger--spin.is-active .hamburger-inner::after {
//     bottom: 0;
//     transform: rotate(-90deg);
//     transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


// ========================
// RESPONSIVE
// ========================
// **Large Monitors**
@media (max-width: 1170px) {
    .header-top-container {
        padding: 0 15px;
    }
}

// **Portrait tablet and small desktops**
@media (max-width: 940px) {

}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
    .logo.header-logo {
        display: none;
    }

    .hvr-underline-from-center,
    .hvr-underline-from-center::before {
        height: 0px;
    }

    .header-top-container {
        // position: static;
        padding: 0;
        width: 200px;
        top: 80px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
        // position: relative;
        right: 0;
    }

    .header-top {
        // position: relative;
        padding: 0;
    }

    .header-nav {
        width: 100%;
        margin: 0;
        &__list {
            flex-direction: column;
            margin: 0;
            // align-items: right;
            width: 100%;
        }
        &__item {
            margin: 0;
            width: 100%;
            // text-align: right;
            &__link {
                width: 100%;
                text-align: right;
                font-size: 3rem;
                padding: 45px 20px 45px 0;
                transition: all 0.3s;
                &:hover,
                &:active {
                    background-color: $colour-acc;
                    color: #fff;
                }
            }
        }
    }
    .menu-icon {
        display: block;
    }
    .menu-display {
        display: none;
    }
}

// **Landscape phones and down**
@media (max-width: 480px) {
    .hero-text {
        text-align: center;
    }
    .social-media__nav {
        justify-content: center;
    }
}