.projects {
    &__header {
        text-align: center;
    }
    &__nav {
        margin: 0 auto;
        &__list {
            padding-left: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            display: flex;
            padding: 60px;
            align-items: center;
            &:nth-child(even) {
                background-color: $colour-shade;
            }
        }
    }
}   

.project__preview {
    // display: flex;
    width: 50%;
}

.project__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    &__title {
        color: $colour-acc;
        margin: 0;
        text-transform: uppercase;
    }
    &__type {
        font-weight: 700;
        margin: 20px 0;
        text-transform: uppercase;
    }
    &__categories {
        border-top: 2px solid $colour-prim;
        border-bottom: 2px solid $colour-prim;
        margin: 0;
        padding: 5px;
        width: -moz-fit-content;
        width: fit-content;
    }
    &__description {
        margin: 16px 0;
    }
    &__buttons {
        display: flex;
        .button {
            border-color: $colour-acc;
            color: $colour-acc;
            margin-right: 10px;
            &:hover {
                color: $colour-white;
            }
        }
    }
}
    
// ========================
// RESPONSIVE
// ========================
// **Portrait tablet and small desktops**
@media (max-width: 940px) {

}

// **Portrait tablet and small desktops**
@media (max-width: 900px) {
    .projects__nav {
        &__list {

        }
        &__item {
            padding: 0;
            flex-wrap: wrap;
            width: 80%;
            padding-bottom: 50px;
            &:nth-child(even) {
                flex-direction: column-reverse;
                margin-top: 50px;
            }
        }
    }

    .projects__header {
        padding-bottom: 0;
    }

    .project__preview,
    .project__details {
        width: 100%;
        align-items: center;
        text-align: center;
        &__description {
            width: 80%;
        }
    }
}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
    .projects__nav__item {
        width: 95%;
    }
}

// **Landscape phones and down**
@media (max-width: 480px) {
    .projects__nav__item {
        width: 100%;
    }
}