.skills {
    display: flex;
    flex-direction: column;
    &__header {
        text-align: center;
    }
    &__icons {
        display: flex;
        // justify-content: space-around;
        flex-wrap: wrap;
    }
}

.icon {
    width: 20%;
    text-align: center;
    margin: 20px 0;
}

.logosvg {
    // height: auto;
    width: 100px;
    transition: all 0.3s;
    path {
        fill: $colour-header;
    }
    &:hover {
    filter: brightness(1.15);
    transform: scale(1.1);
    }
}

.JS-icon path:nth-child(2) {
    fill: $colour-shade;
}

.html-icon path:nth-child(2) {
    fill: grey;
}

.html-icon path:nth-child(n + 3) {
    fill: white;
}

.css-icon path:nth-child(2) {
    fill: grey;
}

.css-icon path:nth-child(n + 3) {
    fill: white;
}

.firebase-icon path:nth-child(1),
.firebase-icon polygon {
        fill: grey;
}

.icon-caption {
    font-size: 1.5rem;
    text-align: center;
}

// .react-logo path {
//     fill: #61dafb;
// }

// .vscode-icon path {
//     fill: #007acc;
// }