.skills {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    &__header {
        text-align: center;
    }
    &__icons {
        display: flex;
        flex-wrap: wrap;
    }
}

.icon {
    width: 20%;
    text-align: center;
    margin: 20px 0;
}

.logosvg {
    width: 100px;
    transition: all 0.3s;
    path {
        fill: $colour-header;
    }
}

.JS-icon path:nth-child(2) {
    fill: $colour-shade;
}

.html-icon path:nth-child(2) {
    fill: grey;
}

.html-icon path:nth-child(n + 3) {
    fill: white;
}

.css-icon path:nth-child(2) {
    fill: grey;
}

.css-icon path:nth-child(n + 3) {
    fill: white;
}

.firebase-icon path:nth-child(1),
.firebase-icon polygon {
        fill: grey;
}

.icon-caption {
    font-size: 1.5rem;
    text-align: center;
}

// ========================
// RESPONSIVE
// ========================
// **Portrait tablet and small desktops**
@media (max-width: 940px) {

}

// **Landscape phone to portrait tablet**
@media (max-width: 700px) {
    .logosvg {
        width: 70px;
    }
}

// **Landscape phones and down**
@media (max-width: 480px) {
    .skills__icons {
        justify-content: center;
    }
    .icon {
        width: 33%;
    }
}