h1,
h2 {
    font-family: $font-sec;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

.header-nav__item__link {
    font-size: 1.8rem;
}

.button {
    font-size: 1.6rem
}

.social-media-icon {
    font-size: 3rem;
}