h1,
h2,
h3,
h4,
h5 {
    font-family: $font-sec;
    text-transform: uppercase;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    padding: 100px 0 50px 0;
    text-align: center;
}

h3 {
    font-size: 2.4rem;
    font-weight: 500;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.4rem;
}

p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem;
}

.header-nav__item__link {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.button {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.social-media-icon {
    font-size: 3rem;
}

.social-media__nav__item__link__icon.social__footer {
    font-size: 2.4rem;
}

input, 
textarea {
    font-size: 1.6rem;
}

.read-more {

}
// ========================
// RESPONSIVE
// ========================
// **Portrait tablet and small desktops**
@media (max-width: 940px) {

}

// **Landscape phone to portrait tablet**
@media (max-width: 767px) {
    
}

// **Landscape phones and down**
@media (max-width: 480px) {
    h1 {
        font-size: 5.5rem;
    }
}