// FONTS
$font-prim: 'Roboto', sans-serif;
$font-sec: 'Roboto Condensed', sans-serif;
// ===================================
// COLOURS
$colour-prim: rgb(0, 33, 45);
$colour-header: #082631;
$colour-acc: rgb(0, 25, 255);
$colour-body: #0f0f0f;
$colour-white: #fff;
$colour-shade: #eff1f3;
$colour-social: #d2d3d3;
// =================================
