// FONTS
$font-prim: 'Roboto', sans-serif;
$font-sec: 'Roboto Condensed', sans-serif;
// ===================================
// COLOURS
$colour-prim: #00212d;
$colour-header: #082631;
$colour-acc: #0019ff;
$colour-body: #0f0f0f;
$colour-white: #fff;
$colour-shade: #eff1f3;
// =================================
