// FONTS
$font-prim: 'Roboto', sans-serif;
$font-sec: 'Roboto Condensed', sans-serif;
// ===================================
// COLOURS
$colour-prim: #0f0f0f;
$colour-sec: #5b61b5;
// =================================
